@charset "utf-8";

#my-Sidebar {
        width: 250px;
        height:100%;
        padding:px;
        margin-bottom: 20px;
        float: left;
        background-color: #fff; 
        margin-top:100px;
      }
 
 ul{
 	list-style:none;
 }
 
 header{
 text-align: center;
 }
 
 select{
 min-width: 100px;
 
 }
 
ul {
　　　list-style-type: none;
}

li {
　　　display: inline;
}

 #zipcode{
	padding:5px;
}
#delete{
	padding:10px;
}
#phone_certification{
	padding:10px;
}
*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	list-style:none;
	
}
.slide-wrapper1{
	position:relative;
	width:900px;
	height:300px;
	magin:0 auto;
	overflow:hidden;
}

.slider-wrap1 img{
	width:270px;

}
.slider-wrap2 img{
	width:270px;

}

.controls{
	text-align:center;
	margin-top:5px;
}

.controls span{
	background:#ed786a;
	color:#fff;
	padding:10px 20px;
	margin:0 10px;
}
.profile{
	width:600px;
	height:450px;
	border: 2px solid gray;
	border-radius :3%;
	display:flex;
	position: relative;
	right:-150px;
}

.profile img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	position: relative;
	bottom:-50px;
	right:-20px;
}

.profile .left h4{
	magin-buttom:10px;
	text-align:center;
	position: relative;
	bottom:-50px;
	right:-20px;
	
}

.profile .left p{
	font-size:12px;
	text-align:center;
	position: relative;
	bottom:-50px;
	right:-20px;
}

.profile .right {
	width:65%
	background:#fff;
	position: relative;
	right:-70px;
	margin-top:10px;
}

.right h3{
	position: relative;
	left:-170px;
	
}

.profile .right .data h4{
	magin-bottom:10px;
	padding-bottom:0px;
	border-bottom:1px solid #;
}

.profile .right .data p{
	font-size:13px;
}
#myclass .class img{
	float:left;
}

